[submodule "caveman-skill"]
	path = caveman-skill
	url = https://github.com/MartinEgli/caveman-skill.git
[submodule "single-skill-template"]
	path = single-skill-template
	url = https://github.com/MartinEgli/single-skill-template.git
[submodule "mournival-architecture-skill"]
	path = mournival-architecture-skill
	url = https://github.com/MartinEgli/mournival-architecture-skill.git
[submodule "enterprise-security-architecture-skill"]
	path = enterprise-security-architecture-skill
	url = https://github.com/MartinEgli/enterprise-security-architecture-skill.git
[submodule "enterprise-architecture-skill"]
	path = enterprise-architecture-skill
	url = https://github.com/MartinEgli/enterprise-architecture-skill.git
[submodule "software-architecture-skill"]
	path = software-architecture-skill
	url = https://github.com/MartinEgli/software-architecture-skill.git
[submodule "domain-driven-design-skill"]
	path = domain-driven-design-skill
	url = https://github.com/MartinEgli/domain-driven-design-skill.git
